html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #222;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;

	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
}

#page_title{
	position: fixed;
	margin-top: 20%;
	z-index: 99;
	font-family: 'Englebert';
	font-weight: bold;
	font-size: 40px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  /*-webkit-transform-origin: 10% 35%;
  -moz-transform-origin: 10% 35%;
  -ms-transform-origin: 10% 35%;
  -o-transform-origin: 10% 35%;
  transform-origin: 10% 35%;*/

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#page_title_gallery{
	position: fixed;
	
	margin-top: 20%;
	/*margin-left: 5%;*/
	z-index: 99;
	font-family: 'Englebert';
	font-weight: bold;
	font-size: 40px;
	/*margin-left: 10%;*/


  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  /*-webkit-transform-origin: 10% 35%;
  -moz-transform-origin: 10% 35%;
  -ms-transform-origin: 10% 35%;
  -o-transform-origin: 10% 35%;
  transform-origin: 10% 35%;*/

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}




#page_title_event{
	position: fixed;
	
	margin-top: 25%;
	margin-left: -150px;
	z-index: 99;
	font-family: 'Englebert';
	font-weight: bold;
	font-size: 40px;
	/*margin-left: 10%;*/


  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  /*-webkit-transform-origin: 10% 35%;
  -moz-transform-origin: 10% 35%;
  -ms-transform-origin: 10% 35%;
  -o-transform-origin: 10% 35%;
  transform-origin: 10% 35%;*/

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#page_title_sponsor{
	position: fixed;
	
	margin-top: 10%;
	margin-left: -50px;
	z-index: 99;
	font-family: 'Englebert';
	font-weight: bold;
	font-size: 40px;
	/*margin-left: 10%;*/


  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  /*-webkit-transform-origin: 10% 35%;
  -moz-transform-origin: 10% 35%;
  -ms-transform-origin: 10% 35%;
  -o-transform-origin: 10% 35%;
  transform-origin: 10% 35%;*/

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.layer {
	text-align: center;
	text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1 );
}

.layer h2 {
	position: relative;
	top: 30%;
	margin: 0;
	font-size: 6.25em;
}

.layer p {
	position: relative;
	top: 30%;
	margin: 0;
}

.layer.one {
	background: #e8bf92;
}/* 
.eventbox{
	position: absolute;
	margin-top: 200px;
	margin-left: 250px;
	padding: 20px;
	width: 70%;
	height: auto;
	background-color: rgba(0,0,0,.7);
}

.eventdesc{

	margin-top: 0x;
	padding-top: 10px;
 	display: inline-block;
 	margin-top: 5px;
	margin-left: 0%;
	padding: 20px;
	width: 200px;
	height: auto;
	background-color: rgba(0,0,0,.7);
}

 */
.layer.two {
	background: #b0daa6;
}

.layer.three {
	background: #64b9d2;
}

.layer.four{
	background: #878994;
}



.layer.five{
	background: #838682;
}

.layer.six{
	background: #FF3B52;
}



.bullets.events{
	position: absolute;
	width: 100%;
	top:10%;
	padding: 5px;
	//margin-bottom: 30px;
	text-align: center;
}

.bullets.workshop{
	position: absolute;
	width: 100%;
	top:17%;
	padding: 5px;
	//margin-bottom: 30px;
	text-align: center;
}



	.bullets li {
		padding: 5px 2px 2px 2px;
		list-style: none;
		display: inline-block;
	
        border-radius: 3%;
		padding-top: 10px;
		margin: 1px 3px;
		text-align: center;
        color: black;
		background: rgba( 255, 255, 255, 0.5 );
		box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
		cursor: pointer;

		-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );*/
	}

		.bullets li:hover {
			background: rgba( 255, 255, 255, 0.8 );
		}

		.bullets li.active {
			cursor: default;
			background: #fff;
		}

@media screen and (max-width: 400px) {
	body {
		font-size: 12px;
	}

	.layer h2 {
		font-size: 5em;
	}

	.bullets li {
		margin: 0 6px;
	}

	
}

