@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);


@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600);
@import url(http://weloveiconfonts.com/api/?family=zocial|brandico);

/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "untitled-font-1";
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ring-bearer";
   src: url(../fonts/ring.TTF) format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}


[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;	
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 30px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	        transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	        transition: opacity, transform 1s, -webkit-transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}



/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Arial, sans-serif;
	text-transform: uppercase;
}

html {
	font-size: 62.5%;
}

body {
	color: black;
	letter-spacing: .18em;
}

a {
	text-decoration: none;
	color: white;
}

ul, li {
	list-style-type: none;
}



/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
	background: rgba(0, 47, 77, .3);
	height: 70px;
	/*padding: 0 10px;*/
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}
#logo{
margin-top:-25px;
		width: 80px;
	height: auto;
	opacity: .8;
}

#logo img{
	width: 100%;
	height: 100%;
}
.header-top>span{
	position: relative;
	margin-left: -50px;
	margin-top:40px;
	padding-top: 5px;
	padding-bottom: 10px;
}

h1 {
	line-height: 70px;
	height: 70px;
}

h1 a {
	display: block;
	padding: 0 10px;
}

.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
	margin-left: 40%;

}

.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: white;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	        transition: all .3s;
}




.toggle-menu i:nth-child(1) {
	top: 16px;
}

.toggle-menu i:nth-child(2) {
	top: 24px;
}

.toggle-menu i:nth-child(3) {
	top: 32px;
}

.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
	background: transparent;
}

.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}

nav {
 	height: 0;
	opacity: 0;
  box-sizing: border-box;
	background: rgba(0, 47, 77, .25);
	position: fixed;
	top: 70px;
	width: 100%;
  -webkit-transition: all 3s;
          transition: all 3s;
}

.open-menu ~ nav {
	opacity: 1;
 	padding: 80px 0;
	z-index: 15;
	height: calc(90vh - 70px);
}

nav ul {
	padding: 0 10px;
	display: -webkit-box;
	margin-top:-80px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}


#heading{
	color: #FFFFFF;
	font-size: 15px;
	text-shadow: 5px 5px 5px #000;
	font-family: ring;
}



nav li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

nav li a {
	font-size: 1.4em;
	display: block;
	padding: 20px;
	font-weight: 10px;
	text-align: center;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
	background: #962D3E;
}

nav li:nth-child(even) a {
	background: #aa3346;
}

nav li:nth-child(odd) a:hover {
	background: #9e2f41;
}

nav li:nth-child(even) a:hover {
	background: #c53c52;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
  background: #453659;
}
  

/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section { 
	text-align: center;
  /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}

h2 {
	text-transform: lowercase;
	font-size: 4em;
	margin-bottom: 20px;
}

h3 {
	font-weight: 300;
	font-size: 2.8em;
}



/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid #24221F;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
	nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	nav li {
		margin-top: 1px;
	}
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
	}
}



.grid {
	position: relative;
	clear: both;
	margin: 0 20px 10px 0;
	/*padding: 1em 0 4em;*/
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	width: 200px;
	height: 150px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	/*margin-left: 1%;*/
}

 .adv{

overflow: hidden;

	position: relative;
	
	top: 0px;
	left: 0px;
    display: inline-block;
	width: 75%;
	 padding:30px;

	background-color: #669900;
	font-size: 18px;

}



.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	/*padding: 9em;*/
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-weight: bold;

}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	/*margin-to: ;p: 50px;*/
	word-spacing: -0.15em;
	font-size:1px;
}

.grid figure h2 span {
	font-weight: 800;
}


.grid figure p {
	margin: 0;
}


#date-image{
	position: absolute;
	top:50px;
	margin-top: 500px;

	left: 600px;


}

.grid figure h2{
  
  position: absolute;
  top:120px;
  text-shadow: 2px 2px #000;
  text-transform: uppercase;

}
.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-jazz {
	background: -webkit-linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
	background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);

}

figure.effect-jazz img {
	opacity: 0.9;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz figcaption::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

figure.effect-jazz h2,
figure.effect-jazz p {
	font-size: 1em;
	opacity: 1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}

figure.effect-jazz h2 {
	padding-top: 3%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-jazz p {
	padding: 0.5em 2em;
	text-transform: none;
	font-size: 1em;
	opacity: 0;
}

figure.effect-jazz:hover img {
	opacity: 0.5;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-jazz:hover figcaption::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}
 
figure.effect-jazz:hover h2,
figure.effect-jazz:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
} 

.js div#preloader 
{ position: fixed;
 left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible;
  background: rgba(256,256,256,1) url('../img/loading.gif') no-repeat center center;
  background-size: 150px; }



#clockdiv{
	position: absolute;
    top: 80%;
	left: 36%;
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 80;
	text-align: center;
	font-size: 20px;
	
}
#count{
	position: absolute;
	top:75% ;
	left: 36%;
	font-size: 16px;
}

#presents{
	position: absolute;
	top: 20%;
	left: 13%;
	
}

#date img{
	position: absolute;
	top: 38%;
	left: 80%;
	height: 30%;
	
}


#name{
	position: absolute;
	top: 30%;
	left: 10%;
	
}
#name img{
	width: 100%;
}	

#clockdiv > div{
	padding: 8px;
	border-radius: 2px;
	background: #ffdeab;
	display: inline-block;
}

#clockdiv div > span{

	padding: 8px;
	border-radius: 3px;
	background: #985e03;
	display: inline-block;
}

.smalltext{
	
	padding-top: 10px;
	font-size: 18px;
	font-weight: 7px;
	text-align: center;
	color: #000;
}


#canvas {
    display: block;
}


/* event tabs*/


.tabs {
    position: relative;
	margin: 0px auto;
	top:200px;
	width: 80%;
}

.tabs input {
	position: absolute;
	z-index: 1000;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2{
	top: 40px;
}
.tabs input#tab-3{
	top: 80px;
}
.tabs input#tab-4{
	top: 120px;
}

.tabs label {
	background: #5ba4a4;
	background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
	background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0 20px;
	display: block;
	width: 120px;
	color: #385c5b;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
	float: left;
	clear: both;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 0 0 3px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	right: -2px;
	top: 0;
	width: 2px;
	height: 100%;
}

.tabs input:hover + label {
	background: #5ba4a4;
}

.tabs label:first-of-type {
    z-index: 4;
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fff;
	z-index: 6;
}

.clear-shadow {
	clear: both;
}

.content {
    /*background: #fff;*/
	position: relative;
    width: auto;
	margin: -160px 0 0 120px;
	height: 650px;
	z-index: 5;
	overflow: hidden;
	overflow-y: scroll;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    border-radius: 3px;
	background-color: rgba(256,265,265,.9);	

}

.content div {
    position: absolute;
	top: 0;
	padding: 10px 40px;
	z-index: 1;
    opacity: 0;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.content div{
	-webkit-transform: translateY(-450px);
	-moz-transform: translateY(-450px);
	-o-transform: translateY(-450px);
	-ms-transform: translateY(-450px);
	transform: translateY(-450px);
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
    -webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
    z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.3s 0.3s;
    -moz-transition: all ease-out 0.3s 0.3s;
    -o-transition: all ease-out 0.3s 0.3s;
    -ms-transition: all ease-out 0.3s 0.3s;
    transition: all ease-out 0.3s 0.3s;
}
 
.content div h2,
.content div h3{
	color: #398080;
}
.content div p {
	font-size: 18px;
	line-height: 22px;
	font-style: normal;
	text-align: left;
	line-height: 40px;
	font-family:'Alegreya Sans', Arial, sans-serif;
	font-weight: 800;
	margin: 0;
	color: #000;
	padding-left: 15px;
	border-left: 8px solid rgba(63,148,148, 0.1);
}

.content.workshop{
	margin: 0px 0 0 120px;
	
}

.content.workshop h3:not(:first-child){

	text-align: left;
	font-size: 25px;
	font-weight: bold;
}

.date{

	font-size: 30px;
	color: darkred;
	text-align: left;

}



.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    /*opacity:0;*/
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    color: black;
    display: none;
}


.showme{
	display: block;
	/*opacity:1;*/
    pointer-events: auto;
}


.hideme{
	display: none;
	/*opacity:0;*/
    pointer-events: auto;
}

.modalDialog:target {
    /*opacity:1;*/
    /*pointer-events: auto;*/
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
    
}





#about_img {
	background-image: url('../img/about_img.jpg');
	background-size: cover;
    
}

#about-logo-content{
  position: relative;
  top: 5%;
  width: 80%;
  height: auto;
  margin-left: 100px;
  margin-right: 100px;
	border-radius: 10px;

/*  background-color: rgba(0,0,0,.8);*/
  /*margin-left: 200px;*/




}

.about_logo{
	/*position: absolute;*/
	/*float: left;*/
	top:0;
	left:0;
	width: 130px;
	height: 110px;
	 padding-left: 10px;
	 /*box-shadow: 2px 2px 2px 2px #000;*/
}
#about-content{
	float: right;
	padding: 30px;
	background-color: rgba(0,0,0,.8);
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
}

#container{
	position: relative;
}
#container canvas {
z-index: 99;
}


/*contact page*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600);

/* entypo */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background: #829292;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}



#browser {
  margin: 10px auto;
  color: white;
  width: 85%;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

#browser-bar {
  background: #394141;
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 0.9em;
  position: relative;
}
#browser-bar p {
  text-align: center;
}
#browser-bar .circles {
  border-radius: 10px;
  height: 13px;
  width: 13px;
  background: #ff3434;
  float: left;
  margin-left: 7px;
  margin-top: 3px;
}
#browser-bar .circles:nth-of-type(2) {
  background: #ffdd33;
}
#browser-bar .circles:nth-of-type(3) {
  background: #67b678;
}


#content {
  background: #454f4f;
  height: auto;
}


#content:after {
  content: "";
  display: table;
  clear: both;
}
#content #left, #content #right {
  height: 100%;
}
#content #left {
  float: left;
  width: 65%;
 
}

#content #left #googleMap{
  position: relative;
  width: 650px;
  height: 400px;
  }
@media all and (max-width: 780px) {
  #content #left {
    width: 100%;
  }
}
#content #right {
  float: left;
  width: 35%;
  background: #454f4f;
  font-size: 0.75em;
  padding: 15px;
}
@media all and (max-width: 780px) {
  #content #right {
    width: 100%;
  }
}
#content #right p {
  margin-bottom: 10px;
  text-transform: uppercase;
}
#content #right a:hover {
  color: #51B2D6;
}
#content #right #social {
  display: table;
  width: 100%;
  font-size: 30px;
}
#content #right .social {
  display: table-cell;
  text-align: center;

 
}

#content #right .social a span{ 
 font-size: 30px;
 cursor: pointer;
}

#content #right form {
  border-top: solid thin #8e9699;
  border-bottom: solid thin #8e9699;
  margin: 20px 0;
  padding: 20px 0;
}
#content #right form input,
#content #right form textarea {
  background: #394141;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  color: white;
  text-transform: none;
}
#content #right form input:last-of-type,
#content #right form textarea:last-of-type {
  margin-bottom: 0;
}
#content #right form input[type='submit'],
#content #right form textarea[type='submit'] {
  text-transform: uppercase;
  background: #7BC087;
  width: 50%;
  color: white;
  margin-top: 5px;
}
#content #right form input[type='submit']:hover,
#content #right form textarea[type='submit']:hover {
  background: #58b068;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #right form input[type='textarea'],
#content #right form textarea[type='textarea'] {
  min-height: 75px;
  vertical-align: text-top;
}
#content #right p.other {
  font-size: 0.7;
  margin-bottom: 5px;
  text-transform: lowercase;
  font-weight: 100;
}
#content #right p.other,
#content #right p.other a {
  color: #8e9699;
}

#con-sub{
	margin-top: 5px;
	font-size: 12px;
	color: 	red;
	display: none;
}
.submitted{
	display: block;
}

.ins_registration_closed{
	color:#f00;
	text-decoration: none;
	text-transform: none;
	font-weight: bold;
}

select option {
    color: #000;
    font-weight: bold;
}

select option:disabled {
    color: #bbb;
    font-weight: bold;
}
